.card {
    display: flex;
    gap: 1.8em;
    padding: 1em;
    /* border: 3px solid #a0a3a0; */
    border-radius: 1em;
    background: linear-gradient(0deg, #b0b7b0, #e0e9e0);
    box-shadow: 0px 3px 3px 0px #b0b7b0;

    transition: scale 750ms ease-out;
}

.card:hover {
    scale: 101%;
}

.text {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.header {
    font-size: xx-large;
    font-weight: 500;
    color: #415141;
}

.content {
    color: #616961;
    margin-left: 0.3em;
}

.emoji {
    font-size: 7em;
    user-select: none;
}

.emoji:hover {
    animation: move 300ms ease;
}

@keyframes move {

    0%,
    100%,
    50% {
        rotate: 0;
    }

    25% {
        rotate: 3deg;
    }

    75% {
        rotate: -3deg;
    }
}

@media only screen and (max-width: 800px) {
    .emoji {
        display: none;
    }
}