.controller {
    display: flex;
    font-size: medium;
    color: #c5c5c5;
    gap: 0.3em;
    transition: color 150ms ease;
}

.controller:hover {
    color: #999;
}

@media (prefers-color-scheme: dark) {
    .controller {
        color: #252525;
    }

    .controller:hover {
        color: #555;
    }
}