@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --shake-lg-size: 20px;
    --shake-lg-sizem: -20px;
}

body {
    overflow-x: hidden;
}

@keyframes shake {
    0% {
        transform: translateX(0);
        transform: translateY(0);
    }

    10% {
        transform: translateX(-0.5px);
        transform: translateY(0.5px);
    }

    20% {
        transform: translateX(0.5px);
        transform: translateY(-0.5px);
    }

    30% {
        transform: translateY(0.5px);
        transform: translateX(-0.5px);
    }

    40% {
        transform: translateX(0.5px);
        transform: translateY(-0.5px);
    }

    50% {
        transform: translateY(0.5px);
        transform: translateX(-0.5px);
    }

    60% {
        transform: translateX(0.5px);
        transform: translateY(-0.5px);
    }

    70% {
        transform: translateX(-0.5px);
        transform: translateY(0.5px);
    }

    80% {
        transform: translateX(0.5px);
        transform: translateY(-0.5px);
    }

    90% {
        transform: translateX(-0.5px);
        transform: translateY(0.5px);
    }

    100% {
        transform: translateX(0);
        transform: translateY(0);
    }
}

@keyframes h-scroll {
    from {
        transform: translate(-100vh, 0);
    }

    to {
        transform: translate(120vh, 0);
    }
}

@keyframes rot-grad-heading {
    0% {
        background-image: linear-gradient(45deg, hsl(160deg, 3%, 41%) 25%, #97a69d 50%, hsl(16deg, 24%, 49%) 100%);
    }

    10% {
        background-image: linear-gradient(45deg, hsl(160deg, 3%, 43%) 23%, #97a69d 48%, hsl(16deg, 25%, 47%) 100%);
    }

    20% {
        background-image: linear-gradient(45deg, hsl(160deg, 3%, 45%) 21%, #97a69d 46%, hsl(16deg, 24%, 45%) 100%);
    }

    30% {
        background-image: linear-gradient(45deg, hsl(160deg, 3%, 47%) 19%, #97a69d 44%, hsl(16deg, 24%, 43%) 100%);
    }

    40% {
        background-image: linear-gradient(45deg, hsl(160deg, 3%, 49%) 17%, #97a69d 42%, hsl(16deg, 24%, 41%) 100%);
    }

    50% {
        background-image: linear-gradient(45deg, hsl(160deg, 3%, 51%) 15%, #97a69d 40%, hsl(16deg, 24%, 39%) 100%);
    }

    60% {
        background-image: linear-gradient(45deg, hsl(160deg, 3%, 49%) 17%, #97a69d 42%, hsl(16deg, 24%, 41%) 100%);
    }

    70% {
        background-image: linear-gradient(45deg, hsl(160deg, 3%, 47%) 19%, #97a69d 44%, hsl(16deg, 24%, 43%) 100%);
    }

    80% {
        background-image: linear-gradient(45deg, hsl(160deg, 3%, 45%) 21%, #97a69d 46%, hsl(16deg, 24%, 45%) 100%);
    }

    90% {
        background-image: linear-gradient(45deg, hsl(160deg, 3%, 43%) 23%, #97a69d 48%, hsl(16deg, 24%, 47%) 100%);
    }

    100% {
        background-image: linear-gradient(45deg, hsl(160deg, 3%, 41%) 25%, #97a69d 50%, hsl(16deg, 24%, 49%) 100%);
    }
}

@keyframes popup {
    0% {
        transform: translateX(-700px);
    }

    90% {
        transform: translateX(0px);
    }

    95% {
        transform: scale(105%);
    }

    100% {
        transform: scale(100%);
        transform: translateX(0px);
    }
}

@keyframes sidebar {
    0% {
        transform: translateX(700px);
    }

    90% {
        transform: translateX(0px);
    }

    100% {
        transform: scale(100%);
        transform: translateX(0px);
    }
}

.r-gradient-heading {
    animation: rot-grad-heading 10s infinite;
}

.animate-shake {
    animation: shake 5s infinite;
}

.header-h-scroll {
    animation: h-scroll 20s linear infinite;
}

.popup-anim {
    animation: popup 0.5s forwards;
    animation-delay: 5s;
}

.sidebar-anim {
    animation: sidebar 0.5s forwards;
}

.sidebar-ranim {
    animation: sidebar 0.5s backwards;
}

.mirror-x {
    transform: translate(0, -0.2rem) rotate(225deg);
}

@media (hover: hover) {
    .hover\:animate-shake:hover {
        animation: shake 0.5s infinite;
    }
}

.nav-background {
    backdrop-filter: blur(4px);
    mask-image: linear-gradient(rgba(0, 0, 0, 1) 60%, transparent 95%);
}

.paragraph {
    color: #666;
}

.noscroll {
    overflow: hidden;
}