.main {
    display: flex;
    flex-direction: column;
    place-items: center;
    min-width: 100vw;
}

.typingTextHolder {
    min-height: 2em;
    color: #999;
    font-size: 4em;
    text-align: right;

    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-right: 10em;

    width: max-content;
}

.typingText {
    color: #333;
    text-align: left;
}

.heart {
    transition: text-shadow 0.5s ease-out, scale 150ms ease;
}

.heart:hover {
    text-shadow: 0px 0px 14px #cc2233ee;
    animation: beating-heart 1s linear infinite;
}

.cards {
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    gap: 3em;
    max-width: 50vw;
}

@keyframes beating-heart {

    0%,
    50%,
    100% {
        font-size: 100%;
    }

    40% {
        font-size: 101%;
    }

    60% {
        font-size: 101%;
    }
}

@media (prefers-color-scheme: dark) {
    .typingTextHolder {
        color: #333;
    }

    .typingText {
        color: #999;
    }
}

@media only screen and (max-width: 1000px) {
    .typingTextHolder {
        margin-right: 3em;
        font-size: 3em;
    }

    .cards {
        max-width: 80vw;
    }
}

@media only screen and (max-width: 800px) {
    .typingTextHolder {
        margin-right: 3em;
        font-size: 2.5em;
    }

    .cards {
        max-width: 90vw;
    }
}