.main {
    display: grid;
    place-items: center;
    align-items: center;
    font-size: 10vw;
    background-image: url("https://source.unsplash.com/fC_Hwry9V2w");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}